{% extends 'nav.html' %}

{% block below %}
<div class="my-3 p-3 rounded bg-light shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Add a Todo</h6>
    <form method="post" class="my-4" action={{url_for('todos')}}>
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="desc">Description</label>
            <input type="text" name="desc" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>

<div class="my-3 p-3 rounded bg-light shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Todos</h6>

    {% for item in data %}
    <div class="media text-muted pt-3">
        {% if item.completed %}
        <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32">
            <rect width="100%" height="100%" fill="#0cc93b" />
        </svg>
        {% else %}
        <svg class="bd-placeholder-img mr-2 rounded"  width="32" height="32" xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32">
            <rect width="100%" height="100%" fill="#ff1919" />
        </svg>
        {% endif %}
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">{{item.title}}</strong>
            <p>{{item.description}}</p>
            <a class="btn btn-secondary btn-sm" href={{url_for('handle_crud', func='check', item=item.id)}}>
            {% if item.completed %}
                Not Done
            {% else %}
                Done
            {% endif %}
            </a>
            <a class="btn btn-secondary btn-sm" href={{url_for('handle_crud', func='edit', item=item.id )}}>
                Edit
            </a>
            <a class="btn btn-danger btn-sm" href={{url_for('handle_crud', func='del', item=item.id )}}>
                Delete
            </a>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}